@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');
:root {
    --dark_bg: #1f2937;
    --hero_main_fg: #f9faf8;
    --hero_second_fg: #e5e7eb;
    --header_logo_fg: #f9faf8;
    --quote_bg: #e5e7eb;

    --hero_main_size: 48px;
    --hero_main_style: extra-bold;
    --header_logo_size: 24px;

    --button_color: #3882f6;
}

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: var(--dark_bg);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 150px;
}

#header_logo {
    color: var(--header_logo_fg);
    font-size: var(--header_logo_size);
    font-weight: 900;
    flex-grow: 1;
}

nav {
    flex-grow: 0.2;
}

#header_links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_link {
    text-decoration: none;
    color: var(--hero_second_fg);
}

#intro {
    display: flex;
    flex-direction: row;
    padding: 0 150px;
    align-items: center;

    background-color: var(--dark_bg);
    height: 450px;
    padding-bottom: 50px; 
}

#intro_left,
#intro_right {
    flex: 1 1 0px;
}

h1 {
    color: var(--hero_main_fg);
    font-size: 48px;
}

#intro_left p {
    color: var(--hero_second_fg);
    font-size: 18px;
}

#intro_left button {
    background-color: var(--button_color);
    color: var(--hero_main_fg);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 900;
    padding: 6px 25px;
    border: 1px solid var(--button_color);
    border-radius: 5px;
}

#features {
    padding: 0 200px;
}

#features h3 {
    color:  var(--dark_bg);
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

#boxes {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.feat {
    width: 200px;
    text-align: center;
}

#feat_placeholder {
    width: 200px;
    height: 200px;
    border: 4px solid var(--button_color);
    border-radius: 10px;
}

#testimonials {
    padding: 200px 200px;
    background-color: var(--quote_bg);
    color: var(--dark_bg);
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}